	*{
			margin: 0;
			padding: 0;
			font-family: 'Varela Round', sans-serif;
		}
		
		a {
			text-decoration: none;
		}
		body{
			width: 100%;
		}
		html{
			scroll-behavior: smooth;
		}
		.btt{
  			display: none;
  			position: fixed;
  			bottom: 20px;
  			right: 30px;
  			z-index: 99;
  			border: none;
  			outline: none;
  			background-color: #29485b;
  			color: white;
  			cursor: pointer;
  			padding: 15px;
  			border-radius: 10px;
  			font-size: 18px;
  		}
  		#load{
  			width: 100%;
    		height: 100vh;
    		background: #0b2a46;
    		z-index: 9999;
    		position: fixed;
    		display: flex;
    		align-items: center;
    		justify-content: center;
  		}
  		#loader{
  			width: 120px;
  			height: 120px;
  			background: #0b2a46;
  			border: 16px solid #f3f3f3; 
  			border-radius: 50%;
  			border-top: 16px solid #3498db; 
  			animation: spin 2s linear infinite;
  		}
  		@keyframes spin {
  			0% { transform: rotate(0deg) scale(1.4); }
  			100% { transform: rotate(360deg) scale(1.4); }
  		}
/*///////////////////////////////////homePage start ///////////////////////////////////*/
		.homePage{
			width: 100%;
			height: 100vh;
			background: url(https://images.alphacoders.com/105/thumb-1920-1056771.jpg);
			background-size: cover;
		}

		.homePage::before{
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 140px;
			z-index: 20;
			background: linear-gradient(to top,#0b2a46,transparent);
		}
		.nav{
			width: 100%;
			-webkit-backdrop-filter: blur(15px);
			backdrop-filter: blur(15px);
			display: flex;
			align-items: center;
		}
		.nav a{
			color: purple;
		}
		.navLinks{
			display: inline-flex;
			list-style: none;
			position: absolute;
			right: 10px;
		}
		.navLinks a{
			text-decoration: none;
		}
		.navLinks li{
			padding: 0 20px 0 20px;
			height: 40px;
			font-size: 1.3em;
			font-weight: bold;
			background: #999fff;
			margin: 0 5px 0 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
		}
		.textArea{
			width: 50vw;
			height: 35vh;
			margin: auto;
			margin-top: 7%;
			margin-bottom: 20px;
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
			border-radius: 50px;
			padding: 10px;
			border: 5px solid coral;
			transition: all 0.7s;
		}
		.textArea:hover {
			-webkit-backdrop-filter: blur(35px);
			backdrop-filter: blur(35px);
			transform: scale(1.1);
		}
		.textArea h1{
			font-size: 4.2vw;
			color: coral;
			text-align: center;
			margin: 20px;
			font-weight: bold;
		}
		.textArea p {
			font-size: 1.9vw;
			margin: 10px;
			padding: 0 20px 0 20px;
			text-transform: capitalize;
			color: #fff;

		}	
		.button{
			width: 200px;
			height: 60px;
			background: ;
			border-radius: 20px;
			border: 5px solid coral;
			display: flex;
			align-items: center;
			justify-content: center;
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
			margin: auto;
			transition: 0.7s;
			cursor: pointer;
		}
		.button p {
			color: #fff;
			font-size: 2.5em;
			margin: 3px;
			white-space: nowrap;
			overflow: hidden;
		}
		.button:hover{
			width: 600px;
			background: coral;
		}
/*///////////////////////////////////homePage end ////////////////////////////////////


///////////////////////////////////advancements start///////////////////////////////*/

		.advancements{
			width: 100%;
			background: #0b2a46;
			position: relative;
			overflow: hidden;
		}
		.advancements::before{
			content: '';
			position: absolute;
			bottom: -2px;
			width: 100%;
			height: 90px;
			z-index: 20;
			background: linear-gradient(to top,#11507b,transparent);
		}
		.header h1{
			font-size: 4em;
			color: coral;
			padding: 60px 60px 20px 60px;
		}
		.header p{
			font-size: 2em;
			color: #fff;
			text-align: center;
			margin-bottom: 40px;
		}

		.advancements .col{
			width: 80%;
			height: 320px;
			margin: auto;
			margin-left: 9%;
			border-radius: 30px;
			background: #23395d;
			display: inline-flex;
			overflow: hidden;
			margin-bottom: 80px;
			transition: all 0.6s;
			z-index: 50;
		}
		.col:hover{
			transform: scale(1.1);
			box-shadow: 6px 6px 4px #192121;
		}
		.col .sir{
			border-radius: 30px;
			margin-right: 60px;
			position: relative;
		}
		.sirArea{
			width: 426px;
			height: 320px;
			margin-right: 60px;
			border-radius: 30px;
			overflow: hidden;
		}
		.col h1{
			font-size: 4vw;
			color: coral;
			padding: 12px 12px 12px 0px ; 
			padding-bottom: 0px;
		}
		.col h3{
			color: rgb(240, 240, 240);
		}
/*///////////////////////////////////advancements end ////////////////////////////////////


///////////////////////////////////Inventions start///////////////////////////////
*/
		.inventions{
			width: 100%;
			height: 110vh;
			background: #11507b;
			position: relative;
			overflow: hidden;
		}
		.inventionCol{
			width: 990px;
			height: 420px;
			background: #194569;
			border-radius: 40px;
			overflow: hidden;
			display: block;
		}
		.autoSlide{
			margin: auto;
			height: 420px;
			width: 990px;
			border-radius: 40px;									
			position: relative;
			overflow: hidden;
		}
		.inventionCol .content h1{
			font-size: 4vh;
			padding: 30px 30px 10px 30px;
			color: coral;
			text-align: center;
			z-index: 900;
		}
		.inventionCol .content img{
			width: 600px;
			height: 450px;
		}
		.inventionCol .content h3{
			font-size: 1.7vw;
			padding: 0 20px 0 20px;
		}
		.inventionCol .content{
			width: 350px;
			height: 420px;
			float: right;
		}
		.slideContents{
			display: inline-flex;
			height: 420px;
			width: fit-content;
			position: absolute;
			animation: slide 18s linear infinite;
			}
			@keyframes slide{
				0%,15%{left: 0px;}
				20%,35%{left:-990px;}
				40%,55%{left:-1980px;}
				60%,75%{left:-2970px;}
				80%,95%{left:-3960px;}
				100%{left:-4950px;}
			}